{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true
    },
    "rules":{
        "strict": 2,
        "no-dupe-keys": 1,
        "no-empty": 2,
        "no-empty-class": 2,
        "no-extend-native": 2,
        "no-trailing-spaces" : 0,
        "no-eval": 2,
        "eqeqeq": 2,
        "no-else-return": 2,
        "no-caller": 2,
        "block-scoped-var": 0,
        "no-lone-blocks": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-unused-vars": 1,
        "no-undef-init": 1,
        "brace-style": ["2", "1tbs"],
        "camelcase": 2,
        "no-nested-ternary": 1,
        "no-space-before-semi": 1,
        "new-parens": 2,
        "quotes": 0,
        "no-underscore-dangle": 2,
        "eol-last": 0,
        "no-mixed-spaces-and-tabs": 0,
        "semi": [2, "always"],
        "key-spacing":0,
        "comma-spacing":0,
        "no-multi-spaces":0,
        "no-shadow":0
    },
    "globals": {
        "jQuery": false,
        "$": true,
        "angular": true,
        "_": true,
        "kendo": true,
        "moment": true,
        "countdown": true,
        "cytoscape": true
    },
    "env":{
        "browser": true
    }
}
