<div class="container wc-login">

    <form class="form-signin" name="form" role="form" novalidate ng-submit="logIn()">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail"  ng-model="loginform.email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="loginform.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" ng-model="loginform.remember"> Keep me logged in
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="form.$invalid">Log in</button>
    </form>

</div>